NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SITE_URL=

VIPPS_BASE_URL=
VIPPS_CLIENT_ID=
VIPPS_CLIENT_SECRET=
VIPPS_SUBSCRIPTION_KEY=
VIPPS_MSN=
VIPPS_SYSTEM_NAME=
VIPPS_AUTO_CAPTURE=
VIPPS_WEBHOOK_SECRET=
VIPPS_REQUEST_PROFILE=

CRON_SECRET=

RESEND_API_KEY=
RESEND_FROM=
EMAILS_ENABLED=
EDGE_CONFIG=

GEMINI_API_KEY=
SUPABASE_ACCESS_TOKEN=
SERVICE_KEY=
ANON_KEY=
VIPPS_ENV_FILE=
VIPPS_SHOW_EVENTS=
